# Python
.venv/
__pycache__/
*.pyc

# Logs
logs/

# DVC cache
.dvc/cache/

# Ignore data contents (but not recursively kill subdirs)
data/*

# Allow DVC metadata
!data/**/*.dvc

# Models
models/

# Environment
.env

# MLflow
.mlflow/