# Python
.venv/
__pycache__/
*.pyc

# Logs
logs/

# DVC cache
.dvc/cache/

# Ignore everything under data by default
data/*

# Re-allow vectorstore directory
!data/vectorstore/
!data/vectorstore/**

# Re-allow all DVC metadata files
!data/**/*.dvc

# Models
models/

# Environment
.env

# MLflow
.mlflow/